* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

.dash {
  display: grid;
  grid-template-columns: 0.04fr 1fr;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: old_english;
  src: url(/css/OLD.ttf);
}
@font-face {
  font-family: nimbus;
  src: url(/css/Nimbus.ttf);
}
@font-face {
  font-family: flo;
  src: url(/css/Florens.ttf);
}

html {
  font-size: 62.5%;
}
